* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*  removes scroll bar from UI*/
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* using pseudo element to remove scroll bar from UI in Chrome, Safari and Opera */

*::-webkit-scrollbar {
    display: none;
}


/* Add smoth scroll doesn't work in all browsers */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: #e3e3e3;
    /* background-color: snow; */
    color: #808080;
}

a {
    color: black;
}

a:hover {
    color: #808080;
}

.title {
    color: snow;
    font-weight: 500;
}

.wrapper {
    margin: 3% 5%;
    padding: 3%;
    background-color: snow;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=45, Color=#C4C4C4)"; */
    /*IE 8*/
    /* -moz-box-shadow: -1px 1px 3px 2px rgba(196, 196, 196, 0.9); */
    /*FF 3.5+*/
    /* -webkit-box-shadow: -1px 1px 3px 2px rgba(196, 196, 196, 0.9); */
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    /* box-shadow: -1px 1px 3px 2px rgba(196, 196, 196, 0.9); */
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    /* filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#C4C4C4); */
    /*IE 5.5-7*/
    border-radius: 20px;
}

.profile-pic {
    width: 220px;
    border-radius: 90%;
    border: 1px solid #808080;
}


/* .card {
    width: 20rem;
} */

.goTop {
    text-align: center;
    /* Align the text inside to center */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: black;
    /* Set a background color */
    color: #808080;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

.goTop:hover {
    background-color: #808080;
    /* Add a wine background on hover */
    color: black;
    /* Text color */
}

@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /*  removes scroll bar from UI*/
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    /* using pseudo element to remove scroll bar from UI in Chrome, Safari and Opera */
    *::-webkit-scrollbar {
        display: none;
    }
    .wrapper {
        margin: 3% 5%;
        padding: 5%;
        background-color: snow;
        font-size: large;
        text-align: center;
    }
    .past {
        display: none;
    }
    h3,
    h4 {
        font-size: xx-large;
    }
    .card-img-top {
        width: 90%;
        margin: 6% 5%;
    }
    .card {
        margin-bottom: 10%;
    }
    .card-title {
        font-size: xx-large;
    }
    .card-text {
        text-align: center;
        font-size: large;
    }
    .btn {
        font-size: larger;
        width: 100%;
        margin-bottom: 7%;
    }
}